@font-face {
    font-family: FoundersGrotesk;
    src: url(fonts/FoundersGrotesk-Light.ttf);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: FoundersGrotesk;
    src: url(fonts/FoundersGrotesk-Regular.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: FoundersGrotesk;
    src: url(fonts/FoundersGrotesk-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}

/* Base */
/* ------------------------------------------------------------------ */

body {
  font-family: FoundersGrotesk, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.15;
  background-color: #ffffff;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  color: #000000;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  margin:0;
  padding:0;
  font-size: 18px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

/* Typography */
/* ------------------------------------------------------------------ */
p {
  font-family: FoundersGrotesk, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.15;
  /* text-transform: uppercase; */

  padding: 0;
  margin: 0;
  text-align: left;
  color: black;
  text-decoration: none;
}

em {
  font-style: italic;
}

h2 {
  font-family: FoundersGrotesk, Helvetica, Arial, sans-serif;
  font-weight: bold;
  /* font-style: italic; */
  font-size: 1em;
  line-height: 1.15;
  /* text-transform: uppercase; */

  padding: 0 0 1em 0;
  margin: 0;
  text-align: left;
  color: black;
  text-decoration: none;
}

.text-column > p {
  line-height: 1.2;
  padding: 0 1.5em 1em 0;
  white-space: pre-line;
}

.gallery h1 {
  font-family: FoundersGrotesk, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.15;
  text-align: left;

  padding: 1em 0 0 0;
  margin: 0;
  float: left;
  color: black;
  outline: none;
  cursor: pointer;
  opacity: 0;

  -webkit-transition: all 0.25s ease-in-out;

  transition: all 0.25s ease-in-out;
}

.gallery h1:hover {
  color: #8d8d8d;
}

.gallery li:hover h1 {
  opacity: 1;
}

.description {
  display: none;
}

.description > p {
  white-space: pre-line;
}

/* Navigation */
/* ------------------------------------------------------------------ */
nav {
  background-color: #ffffff;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 5em;
}

nav a {
  font-family: FoundersGrotesk, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 5em;
  text-transform: uppercase;

  padding: 0 2.5em 0 0;
  float: right;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  -webkit-transition: color .2s ease-in-out;

  transition: color .2s ease-in-out;
}

nav a:hover {
  color: #8d8d8d;
}

nav a:active {
  color: #8d8d8d;
}

.name {
  font-family: FoundersGrotesk, Helvetica, Arial, sans-serif;
  font-weight: bold;
  float: left;
  padding: 0 0 0 2.5em;
}

/* Grid - Index.html */
/* ------------------------------------------------------------------ */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1.5em;
  grid-column-gap: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 100%;

  padding: 5em 2.5em 2.5em 2.5em;
}

.gallery img {
  width: 100%;
}

.gallery a {
  line-height: 0;
  display: block;
  padding: 0;
}

/* Grid - Individual Work page */
/* ------------------------------------------------------------------ */
.work {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 100%;

  padding: 5em 2.5em 0.5em 2.5em;
  /* line-height: 0; */
}

.image-column {
  grid-column: 2/3;
  display: inline-block;
  line-height: 0;
  width: 100%;
}

.image-column > img {
  width: 100%;
  margin: 0 0 2.5em 0;
}

.image-column > div, .image-column > img {
  width: 100%;
  margin: 0 0 2.5em 0;
}

.image-column div > img {
  width: 100%;
  margin: 0;
}

.image-column > img:last-child {
  margin: 0;
}

.vertical {
  max-width: 70%;
  float: right;
}

.text-column {
  grid-column: 1/2;
  position: -webkit-sticky;
  position: sticky;
  top: 5em;
  grid-row-start: 1;
}

/* Footer for work page */
/* ------------------------------------------------------------------ */
.footer {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 5em;
}

.footer a {
  font-family: FoundersGrotesk, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 5em;

  padding: 0 0 0 2.5em;
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  -webkit-transition: color .2s ease-in-out;

  transition: color .2s ease-in-out;
}

a.next {
  float: right;
  padding: 0 2.5em 0 0;
}

.footer a:hover {
  color: #8d8d8d;
}

/* Contact */
/* ------------------------------------------------------------------ */
.contact, .cv {
  width: 100%;
  padding: 5em 2.5em 1.5em 2.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact li {
  margin: 0 0 1em 0;
}

.contact a {
  font-family: FoundersGrotesk, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.2;

  color: black;
  text-align: left;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: block;

  -webkit-transition: color .2s ease-in-out;

  transition: color .2s ease-in-out;
}

.contact a:hover {
  color: #8d8d8d;
}

.contact a:active {
  color: #8d8d8d;
}

/* CV */
/* ------------------------------------------------------------------ */
.cv-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 1em 0;
}

.cv-container li {
  line-height: 1.2;
  white-space: pre-line;
}

.cv-container li:nth-child(odd) {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

.cv-container li:nth-child(even) {
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
}

.cv p {
  margin: 0 0 1em 0;
  line-height: 1.2;
}

/* Etc */
/* ------------------------------------------------------------------ */

/* Media Queries */
/* ------------------------------------------------------------------ */
/* between 200 and 350 */
@media (min-width: 200px) and (max-width: 350px) {
  nav a {
    text-transform: none;
  }
}

/* between 200 and 700 */
@media (min-width: 200px) and (max-width: 700px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    padding: 4em 1.5em 1.5em 1.5em;
  }

  .gallery h1 {
    opacity: 1;
  }

  .work {
    grid-template-columns: 1fr;
    padding: 4em 1.5em 0.5em 1.5em;
    grid-row-gap: 1.1em;
  }

  .image-column {
    grid-column: 1;
  }

  .text-column {
    grid-column: 1;
    position: relative;
    top: 0;
  }

  .text-column > p {
    line-height: 1.2;
    padding: 0;
  }

  .text-column > p:last-child {
    padding: 0;
  }

  .image-column > div, .image-column > img {
    margin: 0 0 1.5em 0;
  }

  .vertical {
    max-width: 100%;
  }

  /* Navigation */
  nav {
    height: 4em;
  }

  nav a {
    padding: 0 1em 0 0;
    line-height: 4em;
  }

  nav a:last-child {
    padding: 0 1.5em 0 0;
  }

  .name {
    padding: 0 0 0 1.5em;
    line-height: 4em;
  }

  h2 {
    line-height: 1.2;
  }

  /* Footer */

  .footer {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 4em;
  }

  .footer a {
    line-height: 4em;
    padding: 0 0 0 1.5em;
  }

  a.next {
    padding: 0 1.5em 0 0;
  }

  /* Contact */
  .contact, .cv {
    width: 100%;
    padding: 4em 1.5em .5em 1.5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  /* CV */
  .cv-container li:nth-child(odd) {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding-top: 1em;
  }

  .cv-container li:nth-child(even) {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .cv > h2 {
    padding-bottom: 0;
  }

  .cv > p {
    margin: 1em 0 1em 0;
  }

  .cv > p:first-child {
    margin: 0 0 1em 0;
  }
}

/* between 700 and 1000 */
@media (min-width: 701px) and (max-width: 1100px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .gallery h1 {
    opacity: 1;
  }

  .work {
    grid-template-columns: 1fr;
    grid-row-gap: 1.5em;
    padding: 5em 2.5em 0.5em 2.5em;
  }

  .image-column {
    grid-column: 1;
  }

  .text-column {
    grid-column: 1;
    position: relative;
    top: 0;
  }

  .text-column > p {
    line-height: 1.2;
    padding: 0;
  }

  .text-column > p:last-child {
    padding: 0;
  }

  .vertical {
    max-width: 100%;
  }
}

/* from 1900 */
@media (min-width: 1900px) {
  body {
    font-size: 22px;
  }
}
