/*

NOTE: Default Font for site is Typekit - Freight Sans Pro
	  Options Enabled are:
	  
	  
	  Light				font-style: normal; font-weight: 300	
	  Light Italic		font-style: italic; font-weight: 300	
	  Book				font-style: normal; font-weight: 400		
	  Book Italic		font-style: italic; font-weight: 400	
	  Medium			font-style: normal; font-weight: 500
	  Medium Italic		font-style: italic; font-weight: 500
	  Semibold			font-style: normal; font-weight: 600
	  Semibold Italic	font-style: italic; font-weight: 600
	  Bold				font-style: normal; font-weight: 700		
	  Bold Italic		font-style: italic; font-weight: 700

	  Light enabled as Standard.
	  
	  Font is set separately from other CSS Elements.
	  
	  Base Colour: #000000
	  Hover Colour: #b4b4b4
*/

/* Global */

* { margin: 0; padding: 0; }
a { text-decoration: none; color: #000000; }
a:hover { text-decoration: none; color: #b4b4b4; }
.selected { color: #000000; }
img { border: 0; }
html { font-family: "freight-sans-pro",sans-serif; font-style: normal; font-weight: 300; color: #000000; font-size: 15px; line-height: 18px; }
#navigation { width: auto; margin: 19px 51px 19px 51px; }
#navigation ul { list-style: none; }
#navigation ul li { display: inline-block; text-transform: uppercase; font-weight: 400; margin-right: 10px; }
#navigation ul li.title { margin-right:15px; }
#navigation ul li.title a, #navigation ul li.selected a {	color: #000000; }
#navigation ul li.title a:hover, #navigation ul li.selected a:hover { color: #b4b4b4; }
#navigation ul li a { color: #b4b4b4; }
#navigation ul li a:hover { color: #000000; }

h1 { margin: 52px 0px 52px 0px; text-transform: uppercase; font-weight: 400; }
h2 { margin: 5px 0px 60px 0px; font-weight: 400; font-size: 15px; line-height: 15px; }

#content { margin: 0px 51px 52px 51px; }
#content ul { list-style: none; }

/* Works */

#content.works h1 { margin: 52px 0px 24px 0px; }
#content.works section { margin: 0px 0px 26px 0px; }
#content.works section h1 { margin: 0px 0px 10px 0px; font-size: 20px; line-height: 18px; }
#content.works section ul {}
#content.works section ul li { position: relative; display: inline-block; margin: 0px 15px 15px 0px; }
#content.works section ul li a:hover { color: #000000; }
#content.works section ul li a p { font-weight: 400; width: inherit; position: absolute; text-transform: uppercase; margin: 12px; display: none; }

/* Works --> Project */

#content.project {}
#content.project ul {}
#content.project ul li{ margin: 0px 0px 41px 0px; }
#content.project ul li div.item { position: relative; width: 1200px; }
#content.project ul li div.item img {}

#content.project ul li div.item div.projectInfo { position: absolute; width: 241px; top: -4px; left: 1010px; margin: 0px  }
#content.project ul li div.item div.projectInfo h1 { font-size: 15px; line-height: 18px; margin: 0px 51px 10px 0px; padding: 0px; }
#content.project ul li div.item div.projectInfo p { margin: 0px 51px 10px 0px; }

#content.project ul li div.item div.printInfo { position: absolute; width: 241px; bottom: 0px; left: 1010px; }
#content.project ul li div.item div.printInfo h1 { font-size: 15px; line-height: 18px; margin: 0px 51px 10px 0px; padding: 0px; }
#content.project ul li div.item div.printInfo p {margin: 0px 51px 10px 0px; }
#content.project ul li div.item div.printInfo p:last-child {margin: 0px 51px 0px 0px; }

/* Biography */

#content.biography p { margin: 0px 0px 20px 0px; }
#content.studio ul li:last-child { margin: 0px 0px 0px 0px; }

/* Studio */

#content.studio ul li { margin: 0px 0px 41px 0px; }
#content.studio ul li:last-child { margin: 0px 0px 0px 0px; }

/* Contact */

#content.contact ul li { display: inline-block; margin-right: 65px; vertical-align: top; }
#content.contact p { font-weight: 400; margin: 0px 0px 16px 0px; }







